
<h1>
    HelLOooOo! This is edit page
</h1>
<article class="row col-lg-12">
    <p>
        Edit Pages
        Front
        About
        Expertise
        Career
        OurWork
        Contac
    </p>
</article>
<article>
    <p>
        Jobb OFfferse
    </p>
</article>
<article>
    <p>
        Deparments edit
    </p>
</article>
<article>
    Create New Acoount
</article>