body {
    padding-top: 50px;
    padding-bottom: 20px;
    font: 100% / 1.5 Proxima Nova;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body,
html {
    /*overflow: hidden;*/
}

body {
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    /*white-space: normal;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

    .navbar-wrapper > .container {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-wrapper .navbar {
        padding-right: 15px;
        padding-left: 15px;
    }

        .navbar-wrapper .navbar .container {
            width: auto;
        }

label {
    display: block;
    margin-top: 20px;
    letter-spacing: 2px;
}

form {
    margin: 0 auto;
    width: 400px;
}

input, textarea {
    width: 400px;
    height: 27px;
    background: #efefef;
    border: 1px solid #dedede;
    padding: 10px;
    margin-top: 3px;
    font-size: 0.9em;
    color: #3a3a3a;
}

textarea {
    height: 213px;
}

.parallax {
    top: 0px;
    left: 0;
    right: 0px;
    margin: 0;
    position: fixed;
}

.parallax {
    height: 500px;
    /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
}

.parallax__group {
    position: relative;
    height: 500px;
    /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin-x: 100%;
    transform-origin-x: 100%;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}


.parallax__layer--back {
    -webkit-transform: translateZ(-295px) scale(2);
    transform: translateZ(-295px) scale(2);
    z-index: 3;
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}

/* centre the content in the parallax layers */

.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: beige;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 200%;
}

.div-center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    /*color: orange;*/
    transform: translate(0,-50%);
    font-size: 100%;
}

/* style the groups
        --------------------------------------------- */

#group1 {
    z-index: 5;
    /* slide over group 2 */
}

    #group1 .parallax__layer--base {
        background: rgb(255, 255, 255);
    }

#group2 {
    z-index: 3;
    /* slide under groups 1 and 3 */
}

    #group2 .parallax__layer--back {
        background: rgb(123, 210, 102);
    }

#group3 {
    z-index: 4;
    /* slide over group 2 and 4 */
}

    #group3 .parallax__layer--base {
        background: rgb(153, 216, 101);
    }

#group4 {
    z-index: 2;
    /* slide under group 3 and 5 */
}

    #group4 .parallax__layer--deep {
        background: rgb(184, 223, 101);
    }

#group5 {
    z-index: 3;
    /* slide over group 4 and 6 */
}

    #group5 .parallax__layer--base {
        background: rgb(214, 229, 100);
    }

#group6 {
    z-index: 2;
    /* slide under group 5 and 7 */
}

    #group6 .parallax__layer--back {
        background: rgb(245, 235, 100);
    }

#group7 {
    z-index: 3;
    /* slide over group 7 */
}

    #group7 .parallax__layer--base {
        background: rgb(255, 241, 100);
    }

#group-white {
    background: rgb(255, 255, 255);
}

.image-background {
    display: block;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 400%;
    font-family: Verdana,Tahoma,"Bebas Neue",sans-serif;
    /*font-family: "Bebas Neue",Tahoma,Verdana,sans-serif;*/
}

h2 {
    text-align: center;
    font-size: 70px;
    font-family: Verdana,Tahoma,"Bebas Neue",sans-serif;
}

h3 {
    font-size: 60px;
    font-family: Verdana,Tahoma,"Bebas Neue",sans-serif;
}

h4 {
    font-size: 26px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Verdana,Tahoma,"Bebas Neue",sans-serif;
    color: whitesmoke;
}

h5 {
    font: bold 50px/100px Helvetica, Sans-Serif;
    position: absolute;
    text-align: center;
    top: 200px;
    left: 0%;
    width: 100%;
}

h7 {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    font-size: 40px;
    padding-left: 5vh;
    padding-right: 5vh;
}


p {
    font-size: 24px;
    font-family: Verdana,Tahoma,"Bebas Neue",sans-serif;
}

.foooter {
    display: table-cell;
    vertical-align: bottom;
}



.Expertise-Section {
    margin-top: 10%;
    margin-bottom: 10%;
}

.Expertise-Background {
    background: rgba(0, 0, 0, 0.10);
}

.text-color-orangered {
    color: orangered;
}

.text-color-white {
    color: whitesmoke;
}

.text-color-beige {
    color: beige;
}

.text-color-black {
    color: black;
}

.text-color-gray {
    color: darkslategray;
}

.title-headline {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 200%;
    text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;
}


@media screen and (max-width: 768px) {
    .title-headline {
        position: absolute;
        bottom: 0;
    }


    p {
        font-size: 16px;
        font-weight: 200;
        /*color: palevioletred;*/
    }
}

@media screen and (max-width: 580px) {


    h1 {
        font-weight: 300;
        font-size: 40px;
    }

    .title {
        font-size: 25px;
        font-weight: 800;
    }

    p {
        /*color: rebeccapurple;*/
    }
}

@media screen and (max-width: 959px) {
    .info-tile {
        float: none;
        width: auto;
    }
}

@media screen and (max-width: 959px) {
    .info-inner-inner-tile {
        float: none;
        width: auto;
    }
}

@media screen and (max-width: 959px) {
    .tile-wrap-mb {
        display: none;
    }
}

.display-images {
    width: 250px;
    height: 250px;
    max-height: 400px;
}

.display-images-small {
}


.info-tiles img {
    display: block;
    width: 101%;
}

.info-tile-row {
    margin-bottom: -2px;
    overflow: hidden;
}

.info-tile {
    position: relative;
    float: left;
    overflow: hidden;
    width: 50%;
}



    .info-tile > a {
        display: block;
    }

.info-inner-tile {
    position: relative;
    overflow: hidden;
}

    .info-inner-tile > a {
        display: block;
    }

.info-inner-inner-tile {
    position: relative;
    float: left;
    overflow: hidden;
    width: 50%;
}



    .info-inner-inner-tile > a {
        display: block;
    }

.tile-wrap-mb {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
}


.info-tile-info {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #fff;
    background: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

@media screen and (max-width: 959px) {
    .info-tile-info {
        position: static;
        opacity: 1;
        height: auto;
        padding: 20px 32px 20px;
        background: none;
    }
}

@media screen and (max-width: 767px) {
    .info-tile-info {
        padding: 20px 10px 20px;
    }
}

.info-tiles a:hover .info-tile-info, .info-tile-info.shown {
    left: 0;
    opacity: 1;
}

.info-tile-info-inner {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    padding: 0 40px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

@media screen and (max-width: 1200px) {
    .info-tile-info-inner {
        padding: 0 20px;
    }
}

@media screen and (max-width: 959px) {
    .info-tile-info-inner {
        padding: 0;
        display: block;
        position: static;
        opacity: 1;
        text-align: left;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
}

.info-tile-info-inner h3 {
    line-height: 1.1;
    letter-spacing: 1px;
    /*font-family: "Bebas Neue",Tahoma,Verdana,sans-serif;*/
    font-size: 80px;
    margin-bottom: 20px;
}

.info-inner-inner-tile .info-tile-info-inner h3 {
    font-size: 50px;
}

@media screen and (max-width: 1200px) {
    .info-inner-inner-tile .info-tile-info-inner h3 {
        font-size: 30px;
    }
}

@media screen and (max-width: 959px) {
    .info-inner-inner-tile .info-tile-info-inner h3 {
        font-size: 40px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .info-inner-inner-tile .info-tile-info-inner h3 {
        font-size: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .info-tile-info-inner h3 {
        font-size: 40px;
    }
}

@media screen and (max-width: 959px) {
    .info-tile-info-inner h3 {
        font-size: 40px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .info-tile-info-inner h3 {
        font-size: 30px;
    }
}

.info-tile-info-inner .top-text {
    letter-spacing: 1px;
    font-family: 'Gotham A', 'Gotham B', Tahoma, Verdana, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 1.2;
}

.info-inner-inner-tile .info-tile-info-inner .top-text {
    margin-bottom: 25px;
}

@media screen and (max-width: 1300px) {
    .info-inner-inner-tile .info-tile-info-inner .top-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    .info-inner-inner-tile .info-tile-info-inner .top-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 959px) {
    .info-inner-inner-tile .info-tile-info-inner .top-text {
        margin-bottom: 14px;
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .info-inner-inner-tile .info-tile-info-inner .top-text {
        margin-bottom: 8px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1300px) {
    .info-tile-info-inner .top-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    .info-tile-info-inner .top-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 959px) {
    .info-tile-info-inner .top-text {
        margin-bottom: 14px;
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .info-tile-info-inner .top-text {
        margin-bottom: 8px;
        font-size: 14px;
    }
}

.info-tile-info-inner .bottom-text {
    line-height: 1.2;
    letter-spacing: 1px;
    /*font-family: "Bebas Neue",Tahoma,Verdana,sans-serif;*/
    font-size: 40px;
}

.info-inner-inner-tile .info-tile-info-inner .bottom-text {
    font-size: 30px;
}

@media screen and (max-width: 1200px) {
    .info-inner-inner-tile .info-tile-info-inner .bottom-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .info-inner-inner-tile .info-tile-info-inner .bottom-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 1300px) {
    .info-tile-info-inner .bottom-text {
        font-size: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .info-tile-info-inner .bottom-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 959px) {
    .info-tile-info-inner .bottom-text {
        display: none;
    }
}

.info-tiles a:hover .info-tile-info-inner, .shown .info-tile-info-inner {
    opacity: 1;
}

@media screen and (max-width: 959px) {
    .info-tiles .tile-img-dt {
        display: none;
    }
}

.info-tiles .tile-img-mb {
    display: none;
}

@media screen and (max-width: 959px) {
    .info-tiles .tile-img-mb {
        display: block;
    }
}

@media screen and (max-width: 959px) {
    .info-tiles .inactive-tile {
        display: none;
    }
}

.twitter_tweet a {
    color: #7a0d48;
    font-weight: 600;
}

.twitter_time {
    padding: 0 0 30px;
    font-size: 14px;
    font-weight: 900;
    color: #3c3c3c;
    text-transform: uppercase;
}

.twitter-container {
    padding: 110px 0;
}

@media screen and (max-width: 767px) {
    .twitter-container {
        padding: 50px 0;
    }
}

h1.twitter-header a {
    font-size: 34px;
    letter-spacing: 1px;
}

    h1.twitter-header a:hover {
        color: #3c3c3c;
    }

.twitter-header {
    margin-bottom: 30px;
}

.container.twitter.cols_3 {
    display: table;
    background: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

    .container.twitter.cols_3:hover {
        background: #e6e6e6;
    }

@media screen and (max-width: 767px) {
    .container.twitter.cols_3:hover {
        background: #fff;
    }
}

@media screen and (max-width: 767px) {
    .container.twitter.cols_3 {
        display: block;
        padding: 0 20px;
    }
}

.container.twitter.cols_3 .twitter-header {
    margin-bottom: 30px;
}

.twitter-container .container.full {
    padding: 0;
}

.twitter-container .cols_3 .box {
    display: table-cell;
    float: none;
    width: 33.3%;
    padding: 40px !important;
    border-left: #eee 1px solid;
    margin-bottom: 0;
    background: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

    .twitter-container .cols_3 .box:first-child {
        border-left: 0;
    }

    .twitter-container .cols_3 .box:hover {
        background: #e6e6e6;
    }

@media screen and (max-width: 767px) {
    .twitter-container .cols_3 .box:hover {
        background: #fff;
    }
}

@media screen and (max-width: 959px) {
    .twitter-container .cols_3 .box {
        width: 50%;
    }

        .twitter-container .cols_3 .box:last-child {
            display: none;
        }
}

@media screen and (max-width: 767px) {
    .twitter-container .cols_3 .box {
        display: block;
        width: auto;
        border: 0;
    }

        .twitter-container .cols_3 .box:nth-child(2) {
            display: none;
        }
}

.twitter-button {
    margin-top: 40px;
}

.studio-list-container .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("img/ajax-load-more.gif") #fff no-repeat center center;
    z-index: 100;
}

.studio-list.slick-slider {
    overflow: hidden;
    background: #ed145b !important;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

    .studio-list.slick-slider.color1 {
        background: #ed145b !important;
    }

    .studio-list.slick-slider.color2 {
        background: #b01f4c !important;
    }

    .studio-list.slick-slider.color3 {
        background: #7a0d48 !important;
    }

    .studio-list.slick-slider.color4 {
        background: #39df93 !important;
    }

    .studio-list.slick-slider.color5 {
        background: #11d3c8 !important;
    }

    .studio-list.slick-slider.color6 {
        background: #007191 !important;
    }

.color5 .studio-list-ver .slick-center {
    background-color: #ed145b !important;
}

.slick-slider .studio-top-text {
    color: #fff;
    font-size: 34px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
    .slick-slider .studio-top-text {
        font-size: 24px;
    }
}

.slick-dots {
    display: none !important;
}

.office-address span {
    font-size: 20px !important;
}

@media screen and (max-width: 767px) {
    .office-address span {
        font-size: 12px !important;
    }

    h3 {
        font-size: 24px;
    }

    h2 {
        font-size: 60px;
    }
}

.studio-list-ver > .slick-list.draggable {
    height: 180px !important;
}

.home .footer_inner_spacer {
    position: relative;
    z-index: 100;
    background: #fff;
}

.footer_inner_spacer .meta_pages {
    text-align: right;
    font-size: 12px;
    padding-top: 15px;
}

@media screen and (max-width: 1000px) {
    .footer_inner_spacer .meta_pages {
        text-align: center;
    }
}

.footer_inner_spacer .meta_pages a {
    font-size: 12px;
}


.title-career {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 200%;
    text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;
}



.text-dev-info {
    text-align: center;
}

.homeImageLink {
    position: absolute;
    top: 45%;
    left: 0;
    text-align: center;
    width: 100%;
}

    .homeImageLink span {
        /*font-family:Verdana;*/
        color: beige;
        font-weight: 300;
        text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;
    }

.img-container {
    position: relative;
}

.text-area {
    display: block;
    margin-top: 30vh;
    margin-bottom: 30vh;
    text-align: center;
    padding-left: 10vh;
    padding-right: 10vh;
}

a.alink:visited {
    color: beige;
}

a.alink:link {
    color: beige;
}

.alink {
    color: black;
}

a.alink:hover {
    color: orange;
}

a.alink {
    color: beige;
}

.dropdown{
    position:relative;
    display:inline-block;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color:#3c3c3c;
    padding:12px 16px;
}
.dropdown:hover .dropdown-content{
    display:block;
}