body {
    padding-top: 50px;
    padding-bottom: 20px;
    font: 100% / 1.5 Proxima Nova;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
body,
html {
    /*overflow: hidden;*/
}

body {
   
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    /*white-space: normal;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

    .navbar-wrapper > .container {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-wrapper .navbar {
        padding-right: 15px;
        padding-left: 15px;
    }

        .navbar-wrapper .navbar .container {
            width: auto;
        }

.parallax {
    top: 0px;
    left: 0;
    right: 0px;
    margin: 0;
    position: fixed;
}

.parallax {
    height: 500px;
    /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
}

.parallax__group {
    position: relative;
    height: 500px;
    /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin-x: 100%;
    transform-origin-x: 100%;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}


.parallax__layer--back {
    -webkit-transform: translateZ(-295px) scale(2);
    transform: translateZ(-295px) scale(2);
    z-index: 3;
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}

/* centre the content in the parallax layers */

.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(255, 106, 0);
    font-size: 200%;
}

.div-center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    /*color: orange;*/
    transform: translate(0,-50%);
    font-size: 100%;
}

.top-fifty {
    margin-top: 15%;
    /**/ margin-bottom: 15%;
}
/* style the groups
        --------------------------------------------- */

#group1 {
    z-index: 5;
    /* slide over group 2 */
}

    #group1 .parallax__layer--base {
        background: rgb(255, 255, 255);
    }

#group2 {
    z-index: 3;
    /* slide under groups 1 and 3 */
}

    #group2 .parallax__layer--back {
        background: rgb(123, 210, 102);
    }

#group3 {
    z-index: 4;
    /* slide over group 2 and 4 */
}

    #group3 .parallax__layer--base {
        background: rgb(153, 216, 101);
    }

#group4 {
    z-index: 2;
    /* slide under group 3 and 5 */
}

    #group4 .parallax__layer--deep {
        background: rgb(184, 223, 101);
    }

#group5 {
    z-index: 3;
    /* slide over group 4 and 6 */
}

    #group5 .parallax__layer--base {
        background: rgb(214, 229, 100);
    }

#group6 {
    z-index: 2;
    /* slide under group 5 and 7 */
}

    #group6 .parallax__layer--back {
        background: rgb(245, 235, 100);
    }

#group7 {
    z-index: 3;
    /* slide over group 7 */
}

    #group7 .parallax__layer--base {
        background: rgb(255, 241, 100);
    }

#group-white {
    background: rgb(255, 255, 255);
}

.image-background {
    display: block;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 400%;
    font-family: Verdana;
}

h2 {
    text-align: center;
    font-size: 450%;
}

p {
    font-size: 14px;
}

.box-text {
}

.image-circle-center {
}

.aurhour {
}

.size-35 {
    font-size: 35px;
}

.foooter {
    display: table-cell;
    vertical-align: bottom;
}

.text-color-orangered {
    color: orangered;
}

.BigImage {
    /*position: fixed;*/
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    left: 0;
    height: 500vh;
}
