<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gustaf.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gustaf.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Gustaf</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Gustaf</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Webpage.Models.ApplicationDbContext, Webpage" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Webpage.Controllers.JobOffersDBContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Webpage.Controllers.JobOffersDBContext, Webpage" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Webpage.Controllers.PostDbContest" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Webpage.Controllers.PostDbContest, Webpage" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WebpageContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Webpage.Models.WebpageContext, Webpage" MigrationConfiguration="Webpage.Migrations.Configuration, Webpage" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Webpage.Controllers.JobOffersDBContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Webpage.Controllers.PostDbContest-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebpageContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Webpage.Controllers.JobOffersDBContext" />
    <_ConnectionStringsToInsert Include="Webpage.Controllers.PostDbContest" />
  </ItemGroup>
</Project>