
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Language</h2>
<ul>
    <li>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, new { @style = "font-size:16px;font-family:Bebas Neue,Tahoma,Verdana,sans-serif;" })</li>
    <li>@Html.ActionLink("Swedish", "Change", "Language", new { LanguageAbbrevation = "sv" }, new { @style = "font-size:16px;font-family:Bebas Neue,Tahoma,Verdana,sans-serif;" })</li>
    <li>@DateTime.Now.ToString()</li>
</ul>