@{
    ViewBag.Title = "About";
}
<section class="row">
    <div class="img-container">
        <img class="img-responsive" src="~/images/7VRjBuoQRG6b0U7sIqjk_ConstructionNight_wide2.jpg" />
        <h2 class="homeImageLink">
            <span>HRM</span>
        </h2>
    </div>
</section>
<section class="row col-lg-12 text-area">
    <p>
        HRM Engineering är inget vanligt konsultföretag. Dels har vi siktet ställt på framtida, och hållbara nyckelområden, dels anstränger vi oss för att vara långsiktiga. Det gäller alla områden; kundrelationer,
        rekrytering, personlig utveckling och affärsstrategierna.
    </p>
</section>

<section class="row">
    <div class="img-container">
        <img class="img-responsive" src="~/images/photo-1422938522079-7f21c8b014f6.jpg" />

        <h7 class="homeImageLink">
            <span>Never stop dreaming. We will help you with them</span>
        </h7>
    </div>
</section>

<section class="row col-lg-12 text-area">

    <p style="font-size:25px">
        Vi är övertygade om att långsiktig framgång, där just arbetsglädje tillsammans med lönsamhet är hörnstenar,
        bäst byggs genom vi alla gemensamt bidrar för att nå målen och närma oss vår vision.
    </p>

</section>

