@{
    ViewBag.Title = "About";
}


<section class="row">
    <img class="full-image" style="height:100vh" src="~/images/7VRjBuoQRG6b0U7sIqjk_ConstructionNight_wide2.jpg" />
    <div class="title-headline text-color-beige">
        <h2> HRM  </h2>
        <p style="font-size:20px">@ViewBag.Message</p>
    </div>
</section>
<section class="background-white-fivehundred">
    <div class="title">
        <p style="font-size:25px">
            HRM Engineering är inget vanligt konsultföretag. Dels har vi siktet ställt på framtida, och hållbara nyckelområden, dels anstränger vi oss för att vara långsiktiga. Det gäller alla områden; kundrelationer,
            rekrytering, personlig utveckling och affärsstrategierna.
        </p>
    </div>
</section>
<section class="row background-white-fivehundred">
    <img class="full-image " src="~/images/photo-1422938522079-7f21c8b014f6.jpg" />
    <div class="text-color-white title">
        <h3 style="color:whitesmoke; ">
            Title
        </h3>
        <p style="font-size:20px">Text for the rest of the test in this text of all textes</p>
    </div>
</section>
<section class="background-white-fivehundred">
    <div class="title">
        <p style="font-size:25px">
            Vi är övertygade om att långsiktig framgång, där just arbetsglädje tillsammans med lönsamhet är hörnstenar,
            bäst byggs genom vi alla gemensamt bidrar för att nå målen och närma oss vår vision.
        </p>
    </div>
</section>

