@{
    ViewBag.Title = "Career";
}



<section class="row">
    <img class="full-image" src="~/images/photo-1449247709967-d4461a6a6103.jpg" />
    <article class="title-headline text-color-gray">
        <h4>We are expanding and looking for new colleagues and friends. </h4>
    </article>
</section>
<section class="margin-top-5 margin-bot-5">
    @for (int i = 0; i < 6; i++)
    {
        <article class="col-lg-4 col-md-6 col-xs-12  article-center">
            <h5><strong> QE Kvalitetsingenjör </strong> </h5>
            <img class="img-rounded img-responsive" src="~/images/1946860.JPG" /> 
            <p>Brinner du liksom vi för kvalitet, problemlösning och att arbeta med människor?</p>
            <a class="btn btn-info btn-warning">Apply</a>
        </article>
    }
</section>

<section class="row margin-top-5">

    <img class="full-image" src="~/images/photo-1450542814732-e210d1b7b938.jpg" />
</section>