@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<form>
    <label>Name</label>
    <input name="name" placeholder="Type Here" />

    <label>Email</label>
    <input name="email" type="email" placeholder="Email" />

    <label>Message</label>
    <textarea name="message" placeholder="Type Here"></textarea>

    <input type="submit" id="submit" name="submit" value="Submit" />
</form>


<address>
    HRM Engineering<br />
    Eriksbergstorget 11<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

