
@{
    ViewBag.Title = "ElekMjuk";
}
<section class="row">
    <div class="img-container">
        <img class="img-responsive" src="~/images/The-battle-for-growth-human-capital-development-strategies.jpg" />
        <h3 class="homeImageLink">
            <span style="font-size:40px;">Följa strömmen – eller styra den?</span>
        </h3>
    </div>
</section>


<section class="col-lg-12 text-area">
    <p>Elektronik & mjukvara är i dag en förutsättning för att mycket i vår omgivning skall fungera överhuvudtaget. Inom t.ex. fordonsindustrin har utvecklingen gått i rasande fart och en modern bil innehåller mängder med avancerade funktioner och komplexa system.
HRM arbetar framgångsrikt med elektronik och mjukvara för befintlig och framtida fordonsindustri och vi har unik kunskap inom hybrid- och eldrivna fordon.
Drivlina, batteriteknik, motorstyrning och diagnostik är områden där vi har unik expertis och lång erfarenhet. Dessutom är det teknikområden som ständigt hittar nya applikationer inom andra branscher.
Hos HRM finns specialister både på systemnivå och inom komponentutveckling. Vi har en lång meritlista med mycket kvalificerade kunder.</p>
</section>






<section class="row">
    <div class="img-container">
        <img style="right:0" class="img-responsive" src="~/images/SlideShow/11086.jpg" />
                <h3 class="homeImageLink">
            <span>Batteriteknik för framtidens fordon</span>
        </h3>
    </div>
</section>

<section class="text-area col-lg-12">
    <p>Ingen har väl kunnat undgå att elbilar verkligen är på gång. Alla stora tillverkare visar konceptfordon, prototyper och till och med produktionsbilar. Genombrottet håller på att ske precis nu, även om priserna fortfarande är mycket höga, och räckvidden begränsad.
Men ett genombrott kommer aldrig från en dag till en annan och vi som arbetat med eldrivna fordon länge kan se hur hinder efter hinder undanröjs.
Tekniken finns, applikationerna likaså och utvecklingen kommer att göra priser och räckvidd mer attraktiva. Gemensamt för alla former av eldrift, alltså även hybrid- och
bränslecellslösningar, är att batteriet är en nyckelkomponent.
Vikt, livslängd, laddtid och inte minst kostnaden är tunga faktorer för elbilens totala prestanda. Batteriets tyngd gör också att konstruktion av bärande strukturer, chassi och bromsar blir lite annorlunda.
På HRM har vi som sagt haft förmånen att få jobba med flera tillverkare och vara med och lösa olika problem. Därför vet vi mer än de flesta om cellbalansering, laddningsteknik och säker installation. Dessutom har vi särskild kompetens när det gäller diagnostisering och övervakning av drivlinor med elektriska komponenter.</p>
</section>

