
@{
    ViewBag.Title = "EnviormentQuality";
}
<section class="row">
    <div class="img-container">
        <img class="img-responsive" src="~/images/engineering-pictures-12.jpg" />
        <h2 class="homeImageLink">
            <span>Ett komplett team</span>
        </h2>
    </div>
</section>
<section class="text-area col-lg-12">
    <p>Idag är vi över 20 konsulter med kvalitet som specialområde och vi har tillsammans 300 års erfarenhet av kvalificerat kvalitetsarbete. Vi vet att fokus måste ligga på affären. Genom att optimera processer, lösa problem och hitta grundorsakerna kan kvalitetsbrister och garantikostnader sänkas, och det är förbättringar som visar sig direkt på nedersta raden.
</p>
</section>
<section class="row">
    <div class="img-container">
        <img class="img-responsive" src="~/images/image-research-development.jpg" />
        <h2 class="homeImageLink">
            <span>Kvalitet i fokus</span>
        </h2>
    </div>
</section>
<section class="text-area col-lg-12">
    <p>
        På HRM arbetar vi med hela kvalitetsbegreppet i alla faser; projekt, löpande produktion och eftermarknad. Vi har stor industriell bredd och erfarenhet från alla typer av förbättringsarbete, inte minst från fordonsindustrin. Det vi erbjuder våra uppdragsgivare är en effektiv kombination av bredd, erfarenhet och spetskompetens.
        Kvalitetssäkring: En viktig del av långsiktig lönsamhet är kvalitetssäkring. Här har HRM Engineering dokumenterat djup och bred kompetens. Med många specialister har vi en unik kunskapsbas, ett kontinuerligt erfarenhetsutbyte och en ständig kompetensutveckling. Vi kan hjälpa dig hela vägen från förstudier genom projektfasen och hela vägen ut med launch support och löpande produktion.  Givetvis behärskar vi alla vedertagna verktyg, exempelvis APQP, PPAP, FMEA och många andra.
        Produktionsteknik och beredning: Produkten som produktionsprocessen behöver beredas för att tillverkningen kan ske på ett effektivt och kvalitetssäkrat sätt. Här kan HRM Engineering hjälpa dig med layout, arbetsstationer, flöden och materialhantering för både befintliga och nya produktionslinor. Vi har stor erfarenhet av olika LEAN-applikationer.
        Leverantörsutveckling: Vi har flera specialområden. Ett av dem är leverantörsutveckling, SQD, där vi kan stötta en inköpsorganisation såväl i val av leverantör som i validering av leveransen.  Vi arbetar för OEM och i leverantörskedjan.  Utbildning och processer är viktiga delar för att skapa helhetsperspektiv och högre effektivitet samt en friktionsfri koppling mellan leverantör och uppdragsgivare.
    </p>
</section>




