
@{
    ViewBag.Title = "HybridElec";
}

<section class="text-area row col-lg-12">
<p>Elmaskiner har en verkningsgrad på 85-95% över större delen av effektregistret vilket är avsevärt högre än konventionella förbränningsmotorer som i bästa fall når 30-35% i verkningsgrad. Ytterligare en fördel med elmotorer är att de har fullt moment vid mycket låga varvtal vilket gör att det i de flesta fall inte krävs någon växellåda mellan elmotor och drivhjul. Ett elektriskt drivsystem kan därför konstrueras med få mekaniska komponenter och mycket små effektförluster jämfört med konventionella drivlinor.
På HRM har vi förmånen att jobba med flera tillverkare i framtagning av morgondagens lösningar av elektriska drivsystem. Vi har specialistkompetens och lång erfarenhet inom elektrisk framdrivning och kan erbjuda tjänster inom följande områden:
</p>
</section>

<section class="row">
    <div class="img-container">
        <img class="img-responsive" src="~/images/photo-1474065581914-e24d783b0c55.jpg" />
        <h2 class="homeImageLink">
            <span>Elektriska drivsystem</span>
        </h2>
    </div>
</section>



<br />
<section class="col-lg-12 row text-area">
    <article class="col-lg-6">
        <strong><p>Hybrid- och elsystem</p></strong>
        <ul style="list-style-type:none">

            <li><p>Kravsättning för system och komponenter</p> </li>
            <li><p>Mjukvaruutveckling och diagnostisering</p></li>
            <li><p>Strategier för bromsregenerering och laddning</p></li>
            <li><p>Elarkitektur och högspänningskablage</p></li>
            <li><p>Elsäkerhet och EMC-påverkan</p></li>
        </ul>
    </article>
    <article class="col-lg-6"> 
        <strong><p>Elkraftskomponenter och kraftelektronik</p></strong>
        <ul style="list-style-type:none">
            <li><p>DC/DC-omvandlare</p></li>
            <li><p>Elmaskiner</p></li>
            <li><p>Drivsteg</p></li>
            <li><p>Ombordladdare</p></li>
        </ul>
    </article>
</section>
<section class="col-lg-12 row text-area" >
    <article class="col-lg-6">
        <strong><p>Loggsystem för mätdataanalys</p></strong>
        <ul style="list-style-type:none">
            <li><p>Drivsystem</p></li>
            <li><p>Batteriövervakning</p></li>
            <li><p>GPS-positionering</p></li>
        </ul>
    </article>
    <article class="col-lg-6">
        <strong><p>Prototypframtagning</p></strong>
    </article>
</section>
<section class="row text-area">
    <article class="col-lg-6">
        <strong><p>Modellbaserad simulering för körcykler avseende</p></strong>
        <ul style="list-style-type:none">
            <li><p>Elektrisk effekt</p></li>
            <li><p>Verkningsgrad</p></li>
            <li><p>Räckvidd</p> </li>
        </ul>
    </article>
    <article class="col-lg-6">
        <strong><p>Avancerad elektrisk fältservice</p></strong>
        <ul style="list-style-type:none">
            <li><p>Felsökning</p></li>
            <li><p>Analys</p></li>
            <li><p>Reparation</p></li>
        </ul>
    </article>
</section>




