
@{
    ViewBag.Title = "Mekanik";
}

<section class="row">
    <div class="img-container">
        <img class="img-responsive" src="~/images/image-research-development.jpg" />
        <h2 class="homeImageLink">
            <span>Ingenjörskonst för framtidens produkter</span>
        </h2>
    </div>
</section>

<section>
    <article class="text-area">
        <p>
            Mekanikutveckling på HRM Engineering AB är en verksamhet som omfattar ett komplett utvecklingsteam för alla faser, från idégenerering, konceptframtagning, konstruktion och hela vägen fram till produktion av färdigutvecklad produkt.

            Våra ingenjörer jobbar lika ofta som nischade konsulter med områden där vi innehar spetskompetens, som i lösningsorienterade projekt där vi har ett leveransåtagande till fast pris.

            Ett konsultuppdrag är mycket mer än ett antal ingenjörstimmar. Det uppdragsgivaren egentligen köper är en konkurrensfördel. Genom att sätta rätt kompetens i arbete så sparar vi tid – och faktiskt också pengar.

            Du får en testad och dokumenterad del av helheten. Klar på utsatt tid och till känd kostnad.
        </p>
    </article>

    <article class="text-area row">
        <h2 class="">Vår kompetens hjälper dig att besegra konkurrenterna</h2>
    </article>

    <article class="text-area">
        <p>
            På HRM har vi en rad specialister inom mekanikutveckling. I den svenska fordonsbranschen är vi välkända för våra leveranser inom exteriör styling, bränslesystem, gaskonvertering, styrning och chassi men det finns mycket mer.

            Till exempel marinteknik, värmeåtervinning eller optimering av stora dieselmotorer enligt Euro 6. Eller kanske en fysisk prototyp framtagen av vår lokala samarbetspartner.

        </p>
    </article>
</section>






<h3 style="text-align:center">Vi är specialister inom:</h3>
<ul style="list-style-type:none" class="text-area">
    <li><p>Industridesign</p></li>
    <li><p>Formsprutade plastkonstruktioner inom exteriör styling</p></li>
    <li><p>Pressad plåt & svetsade konstruktioner</p></li>
    <li><p>Bränslesystem</p></li>
    <li><p>Styrning</p></li>
    <li><p>Chassie</p></li>
</ul>

<h3 style="text-align:center">Våra verksamhetsområden:</h3>
<ul style="list-style-type:none" class="text-area">
    <li>
        <strong><p> Design - Prototyp</p></strong>
        <ul style="list-style-type:none">
            <li><p>Industridesign</p></li>
            <li><p>Studioingenjörer & formbestämning</p></li>
            <li><p>Modellberedning</p></li>
        </ul>
    </li>
    <li>
        <strong> <p>   Mekanikkonstruktion</p></strong>
        <ul style="list-style-type:none">
            <li><p>Fordonskonstruktion i CATIA V5 och Creo</p></li>
            <li><p>Mekanikkonstruktörer mot industri och offshore i SolidWorks, Inventor och Creo</p></li>
        </ul>
    </li>
    <li>
        <strong> <p>  Teknisk projektledning</p></strong>
        <ul style="list-style-type:none">
            <li><p>Uppdragsledning</p></li>
            <li><p>Certifierade projektledare</p></li>
        </ul>
    </li>
</ul>


