
@{
    ViewBag.Title = "Sound And Enviorment";
}


<section class="row">
    <div class="img-container">
        <img class="img-responsive" style="width:100%;" src="http://decibel-meter.co.uk/wp-content/uploads/2013/12/db.gif" />
        <h3 class="homeImageLink">
            <span>Specialists in sound and vibration</span>
        </h3>
        <a href="http://muller.gentletouchstudios.com/" style="text-align:center"><p class="homeImageLink">Your partner in Sound and Vibration</p></a>
    </div>
</section>

<section class="row text-area col-lg-12">
    <p>
        Müller HRM Engineering AB är ett specialistföretag inom ljud och vibrationer. Vi erbjuder rådgivning, testning, projektering samt försäljning av avancerade mätsystem. Vi dimensionerar åtgärder för att minska störande influenser, såsom buller eller vibrationer från vägar, flygplatser, järnvägar och industrianläggningar. Vi hjälper till att utforma tysta och vibrationsfria anläggningar, produkter och fordon.

        Vi minimerar störningar och skadliga effekter på männsikor, produkter, processer och system. Med vår unika samlade kompetens och erfarenhet löser vi kunders problem.

    </p>
</section>

<section class="row col-lg-12 text-area">
    <article class="col-lg-6">
        <h3>Vi är specialister inom</h3>
        <ul style="list-style-type:none">
            <li><p>Akustik och Buller</p></li>
            <li><p>Ljudkvalitet </p></li>
            <li><p>Strukturdynamik, vibrationer</p> </li>
            <li><p>Hållfasthet och utmattning</p></li>
            <li><p>Helkroppsvibrationer hand/arm</p></li>
            <li><p>PAK Mät- och analyssystem</p></li>
            <li><p>PAK Software</p></li>
            <li><p>PAK Hardware</p></li>
        </ul>
    </article>
    <article class="col-lg-6">
        <h3>Affärsområden</h3>
        <ul style="list-style-type:none">
            <li>
                <p>  <strong>Industri - Samhälle</strong></p>
                <ul style="list-style-type:none">
                    <li><p>  Externt och internt industribuller </p></li>
                    <li><p>Arbetsmiljö </p></li>
                    <li><p>Vibrationskontroll </p></li>
                    <li><p>Energi</p></li>
                    <li><p> Buller från väg, flyg och spårtrafik, Offshore</p></li>

                </ul>
            </li>
            <li>
                <p><strong>Teknik</strong></p>
                <ul style="list-style-type:none">
                    <li><p>NVH Fordon</p></li>
                    <li><p>Fartyg</p></li>
                    <li><p>Maskinljud och vibrationer</p></li>
                    <li><p>Process/Offshore</p></li>
                    <li><p>Aktiv ljud- och vibrationskontroll</p></li>
                    <li><p>Produkttester</p></li>
                    <li><p>Utmattning/livslängd</p></li>
                    <li><p>Strukturdynamik</p></li>
                    <li><p>Vibroakustisk problemlösning</p></li>
                </ul>
            </li>
            <li>
                <p><strong>PAK Agentur</strong></p>
                <ul style="list-style-type:none">
                    <li><p>Försäljning och support av mät- och analyssytem i Skandinavien</p></li>
                </ul>
            </li>
        </ul>
    </article>
</section>





