
@{
    ViewBag.Title = "SoundAndEnviorment";
}


Vi är specialister inom ljud- och vibrationsområdet

Müller HRM Engineering AB är ett specialistföretag inom ljud och vibrationer. Vi erbjuder rådgivning, testning, projektering samt försäljning av avancerade mätsystem. Vi dimensionerar åtgärder för att minska störande influenser, såsom buller eller vibrationer från vägar, flygplatser, järnvägar och industrianläggningar. Vi hjälper till att utforma tysta och vibrationsfria anläggningar, produkter och fordon.

Vi minimerar störningar och skadliga effekter på männsikor, produkter, processer och system. Med vår unika samlade kompetens och erfarenhet löser vi kunders problem.





<h6>Vi är specialister inom</h6>
<ul>
    <li>Akustik och Buller</li>
    <li> Ljudkvalitet </li>
    <li> Strukturdynamik, vibrationer </li>
    <li>Hållfasthet och utmattning</li>
    <li>Helkroppsvibrationer hand/arm</li>
    <li>PAK Mät- och analyssystem</li>
    <li>PAK Software</li>
    <li>PAK Hardware</li>
</ul>
<h6>Affärsområden</h6> 
<ul>
    <li><strong>Industri - Samhälle</strong>Externt och internt industribuller - Arbetsmiljö - Vibrationskontroll - Energi - Buller från väg, flyg och spårtrafik, Offshore</li>
    <li><strong>Teknik</strong>NVH Fordon - Fartyg - Maskinljud och vibrationer - Process/Offshore - Aktiv ljud- och vibrationskontroll - Produkttester - Utmattning/livslängd - Strukturdynamik - Vibroakustisk problemlösning</li>
    <li><strong>PAK Agentur</strong>Försäljning och support av mät- och analyssytem i Skandinavien</li>
</ul>


